.app {
  font-family: "Raleway", sans-serif;
}

.main-content {
  padding: 80px 100px;
}


@media (max-width: 1024px) {
  .main-content {
    padding: 60px 40px;
  }
}


@media (max-width: 768px) {
  .main-content {
    padding: 20px 16px;
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 16px 12px;
  }
}
